# Assignment #6 - Data Gathering and Warehousing - DSSA-5102

<b>Instructor:</b> Melissa Laurino</br>
Spring 2025</br>

<b>Name:</b> Tara Jacobsen
</br>
<b>Date:</b> 27 March 2025
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
<br>
Now we will start the process of uploading our dataset into a database. There are many different ways to upload your .csv data into a database (.db file). Databases can be created in many open source applications, MySQL workbench, and even some websites can load your .csv data into a database...for a small fee. Instead of using an application, we are going to first create our database for our dataset from scratch in Python. On a much larger scale, data may be automatically uploaded to a database once it is aquired.<br>

#### Assignment #6 Objectives

We will use the Python packages SQL Alchemy and SQLite to create three separate databases for practice. 
- Create one database on our MySQL server (10)
  - Create and populate our first table with appropriate data types
  - View the MySQL workbench schema to see the table you created
- Create one test database locally that we can still use with MySQL (3)
- Create one test database locally as a .db file. (2) <br>
<br>
Follow the instructions below to complete the assignment. For submission, please include your .ipynb file with output cells (Or a link to Github), and the screen shot of your first database table in MySQL Workbench. Answer any questions in markdown cell boxes. Be sure to comment all code in your own words.

### Creating our database from scratch to integrate with MySQL Workbench in Python<br>

**BEFORE YOU BEGIN!**<br>
Is your MySQL Server running on your local machine?<br>
**Start the server** if it is not running already.

We need the MySQL connector to work with Python since we are using SQLAlchemy with MySQL Workbench. Let's install the MySQL driver. Run the following code in a terminal window to install the MySQL connector: <br>
pip install mysql-connector-python mysql-connector

#### Creating a database from scratch in Python using SQL Alchemy<br>
Additional sources: <br>
-- https://medium.com/@sandyjtech/creating-a-database-using-python-and-sqlalchemy-422b7ba39d7e <br>
-- https://www.youtube.com/watch?v=xr7vDSFXjW0 <br>
-- https://www.geeksforgeeks.org/how-to-design-a-database-for-spotify/ (My specific inspiration for understanding a Spotify schema)

In [11]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

Open MySQL Workbench.
- Click on Local Instance (This is your port number - if needed)

In [15]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="password") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS exoplanets")
# MySQL_SpotifyDatabase will be the name when the database is created.

print("Database created successfully in MySQL Workbench! Go check it out.")
database_name = "exoplanets" # Identify database name for below code.

Database created successfully in MySQL Workbench! Go check it out.

In [526]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = DATABASE_URL = "mysql+mysqlconnector://root:password@localhost/exoplanets"
# Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [528]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
exoplanets = pd.read_csv("exoplanets_clean.csv")

In [530]:
# Preview the dataframe by looking at the first five rows.
exoplanets.head()

,planet_name,host_star_name,planet_letter,hd_id,hip_id,tic_id,gaia_id,num_stars_in_system,num_planets_in_system,num_moons_in_system,...,b_magnitude_johnson_lower_unc,v_magnitude_johnson,v_magnitude_johnson_upper_unc,v_magnitude_johnson_lower_unc,j_magnitude_2mass,j_magnitude_2mass_upper_unc,j_magnitude_2mass_lower_unc,h_magnitude_2mass,h_magnitude_2mass_upper_unc,h_magnitude_2mass_lower_unc
0,wolf 1061 c,wolf 1061,c,NaN,hip 80824,tic 413948621,gaia dr2 4330690742322011520,1,3,0,...,-0.157,10.100,0.100,-0.100,5.950,0.024,-0.024,5.373,0.040,-0.040
1,wolf 1061 d,wolf 1061,d,NaN,hip 80824,tic 413948621,gaia dr2 4330690742322011520,1,3,0,...,-0.157,10.100,0.100,-0.100,5.950,0.024,-0.024,5.373,0.040,-0.040
2,wolf 1069 b,wolf 1069,b,NaN,NaN,tic 352617553,gaia dr2 2188318517720321664,1,1,0,...,-0.099,13.993,0.049,-0.049,9.029,0.039,-0.039,8.483,0.073,-0.073
3,wolf 327 b,wolf 327,b,NaN,NaN,tic 4918918,gaia dr2 796185407950360192,1,1,0,...,-0.070,13.018,0.062,-0.062,9.308,0.022,-0.022,8.682,0.021,-0.021
4,wolf 503 b,wolf 503,b,NaN,hip 67285,tic 187278212,gaia dr2 3620325206217720320,1,1,0,...,-0.037,10.270,0.030,-0.030,8.324,0.019,-0.019,7.774,0.051,-0.051

In [357]:
# What are all of the column names and data types for our dataset? 
# The columns being imported to this first table will be: 
# planet_name
# host_star_name
# planet_letter
# hd_id
# hip_id
# tic_id
# gaia_id

# All data types are objects

# It is important to know the column names from the .csv because these are the field names we will want to use for our first table.
# Remember, the field names represent the column names of the csv/table.

If you are an experienced Python user, you can create a base Python class for all of our tables before populating them and use built in SQLAlchemy features. <br>
To practice SQL, we will create our database from scratch using SQL commands in Python instead.

We can use a new SQL statement CREATE TABLE to create our first table in our new database by writing a query.<br>
Everyone's data is different! Choose the SQL data types that fit YOUR data needs!<br>
SQL Data Types: https://www.w3schools.com/sql/sql_datatypes.asp

In [532]:
# Create our first table in the database file using SQL statements:
# We want our table column names to match what is in the .csv file
first_table_query = """CREATE TABLE IF NOT EXISTS planet_identifiers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    planet_name VARCHAR(50),
    host_star_name VARCHAR(50),
    planet_letter VARCHAR(2),
    hd_id VARCHAR(50),
    hip_id VARCHAR(50),
    tic_id VARCHAR(50),
    gaia_id VARCHAR(50)
);
"""
# Note that the primary key for this table is a column/field "id"
# This is not a field that existed previously. AUTO_INCREMENT automatically generates a unique value for each new row added to the table. 
# Each new value is one greater than the previous value. We cannot make the Date column/field our primary key, because it is not unique.

In [534]:
#Execute the query:
with engine.connect() as connection:
    connection.execute(text(first_table_query))
    print("First table created successfully!")

First table created successfully!

Define your SQL data types for your first table: <br><br>
**My SQL data types for my first table, :**<br>
All datatypes for this table are VARCHARs with different character limits depending on the column. This is because the columns are all either strings or identifiers that are a mix of strings and integers.

<b>Why did you choose these values to make up your first database table? What did you choose for your primary key and why?</b> <br>
I wanted to create a table with the planet's identifying information first before creating tables with physical characteristics of the planets. None of the natural keys are NULL-less, so I added an id column for an autoincrementing key.

In [536]:
exoplanets.fillna({'planet_name': '', 'host_star_name': '', 'planet_letter': '', 'hd_id': '', 'hip_id': '', 'tic_id': '', 'gaia_id': ''}, inplace=True)

row['planet_name'] = str(row['planet_name'])  # Ensure string datatype
row['host_star_name'] = str(row['host_star_name'])  # Ensure string datatype
row['planet_letter'] = str(row['planet_letter'])  # Ensure string datatype
row['hd_id'] = str(row['hd_id'])  # Ensure string datatype
row['hip_id'] = str(row['hip_id'])  # Ensure string datatype
row['tic_id'] = str(row['tic_id'])  # Ensure string datatype
row['gaia_id'] = str(row['gaia_id'])  # Ensure string datatype

print(exoplanets.head())

   planet_name host_star_name planet_letter hd_id     hip_id         tic_id  \
0  wolf 1061 c      wolf 1061             c        hip 80824  tic 413948621
1  wolf 1061 d      wolf 1061             d        hip 80824  tic 413948621
2  wolf 1069 b      wolf 1069             b                   tic 352617553
3   wolf 327 b       wolf 327             b                     tic 4918918
4   wolf 503 b       wolf 503             b        hip 67285  tic 187278212

                        gaia_id  num_stars_in_system  num_planets_in_system  \
0  gaia dr2 4330690742322011520                    1                      3
1  gaia dr2 4330690742322011520                    1                      3
2  gaia dr2 2188318517720321664                    1                      1
3   gaia dr2 796185407950360192                    1                      1
4  gaia dr2 3620325206217720320                    1                      1

   num_moons_in_system  ...  b_magnitude_johnson_lower_unc  \
0                    0  ...                         -0.157
1                    0  ...                         -0.157
2                    0  ...                         -0.099
3                    0  ...                         -0.070
4                    0  ...                         -0.037

  v_magnitude_johnson  v_magnitude_johnson_upper_unc  \
0              10.100                          0.100
1              10.100                          0.100
2              13.993                          0.049
3              13.018                          0.062
4              10.270                          0.030

  v_magnitude_johnson_lower_unc j_magnitude_2mass j_magnitude_2mass_upper_unc  \
0                        -0.100             5.950                       0.024
1                        -0.100             5.950                       0.024
2                        -0.049             9.029                       0.039
3                        -0.062             9.308                       0.022
4                        -0.030             8.324                       0.019

  j_magnitude_2mass_lower_unc h_magnitude_2mass  h_magnitude_2mass_upper_unc  \
0                      -0.024             5.373                        0.040
1                      -0.024             5.373                        0.040
2                      -0.039             8.483                        0.073
3                      -0.022             8.682                        0.021
4                      -0.019             7.774                        0.051

   h_magnitude_2mass_lower_unc
0                       -0.040
1                       -0.040
2                       -0.073
3                       -0.021
4                       -0.051

[5 rows x 204 columns]

In [538]:
with engine.connect() as connection:
    # Make sure MySQL is using the correct database
    cursor.execute("USE exoplanets;")

    # Populate the songs table
    for _, row in exoplanets.iterrows():
        cursor.execute("""INSERT INTO planet_identifiers (planet_name, host_star_name, planet_letter, hd_id, hip_id, tic_id, gaia_id)
                          VALUES (%s, %s, %s, %s, %s, %s, %s) 
                        """, (row['planet_name'], # %s acts as a placeholder for values that will be inserted into the table
                              row['host_star_name'],
                              row['planet_letter'], 
                              row['hd_id'], 
                              row['hip_id'], 
                              row['tic_id'], 
                              row['gaia_id'] 
                              ))
    conn.commit()

**STOP**<br><br>
In MySQL Workbench, you should see your new table that you have created and populated.<br>
You can now run a SQL query directly in MySQL Workbench!<br>
You can also run a query below to test it:

In [540]:
with engine.connect() as connection:  # Establish a connection
    practice_query = text("""SELECT host_star_name, COUNT(*) as count
                                 FROM exoplanets.planet_identifiers
                                 GROUP BY host_star_name
                                 ORDER BY count DESC
                                 LIMIT 10;
                                 """) # Define the query - text() ensures that the query string is read as a SQL expression 
    practice_query = pd.read_sql(practice_query, connection) #Use pandas to read the sql query with the connection to the database
    
# Print the results
practice_query

  host_star_name  count
0        koi-351      8
1     trappist-1      7
2      kepler-11      6
3      hd 110067      6
4       hd 34445      6
5      hd 219134      6
6      kepler-80      6
7      hd 191939      6
8       hd 10180      6
9       toi-1136      6

In [560]:
counts = exoplanets['host_star_name'].value_counts() # Count this same query from original dataframe to ensure the data was populated
# correctly
# Print the results
print(counts)

# Outputs match!

host_star_name
koi-351       8
trappist-1    7
kepler-11     6
kepler-20     6
hd 34445      6
             ..
k2-357        1
k2-358        1
k2-365        1
k2-366        1
k2-367        1
Name: count, Length: 4326, dtype: int64

**STOP**<br>
To create a new schema diagram for your new database (Even though it only has one table...it's good practice!)<br>
Open MySQL Workbench again<br>
Click Home<br>
Click the Models icon<br>
Click the > icon to the right of "Models"<br>
Choose “Create EER Model from Database” <br>
The Reverse Engineer Database Wizard starts and will walk you through your first database schema diagram.<br>
Save your model. <br>
You can now add relationships and or modify tables...but for this assignment, all we need is that first table. <br>

**Add a screen shot of your first schema diagram (The table) to your repository/Blackboard subission.**

In [588]:
#Close the database connection :)
cursor.close()
conn.close()

### Creating a local database from scratch

#### Creating a local database from scratch in Python using SQL Alchemy for MySQL Workbench:<br>
Another example: https://blog.sqlitecloud.io/sqlite-python-sqlalchemy

In [3]:
# BEFORE YOU BEGIN!
# Is your MySQL Server running on your local machine?
# Doesn't matter this time, please continue! :)
from sqlalchemy import create_engine

In [5]:
engine = create_engine("sqlite:///X.db")  # Creates a local database file in the SAME directory as this document.

In [7]:
# The only database connection parameters we need here are the name of the database we just created locally
# NOTE: We are not using the local host, but can still connect our database to MySQL
DATABASE_URL = "mysql+mysqlconnector://root:password@127.0.0.1/X"

In [17]:
cursor.execute("CREATE DATABASE IF NOT EXISTS X")

In [19]:
# Close your connection :)
conn.close()

**STOP HERE**<br>
Before moving on, it is **important** to understand the difference of what we have just completed. Using SQL Alchemy, we have created a database LOCALLY. Notice we did not specify a specific host, BUT we did specify a user and password! This means we can access this database locally in MySQL Workbench if we choose.
<br>
This worked and created a database in MySQL Workbench.

#### Creating a local database (.db file) from scratch in Python using SQLite:<br>

In [21]:
# Load necessary packages:
from sqlalchemy import create_engine, inspect, text # Database navigation
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [23]:
# Load the .csv subset again if you need to if you are starting over 

df = pd.read_csv("exoplanets_clean.csv")

# Create a SQLite database and engine
db_file = "X2.db"
engine = create_engine(f"sqlite:///{db_file}")

# Store the dataframe in the database as a single table for quick practice (Never recommended, especially for large data sets) 
df.to_sql("X2", con=engine, if_exists="replace", index=False)

5788

**STOP HERE**<br>
This method creates a database as a file on our local machine. The .db file is created in the same location or working directory you are currently in (Go check!). If you did not specify a working directory, the .db file is created where this .ipynb is located. 
<br>
This worked and appeared in my local files.

In [26]:
#Close the database connection :)
conn.close()